.header__profile-title {
  color: #1a1b2280;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 100px;
  margin-top: 40px;
  margin-bottom: 28px;
}

.header__profile-articles {
  font-family: "Roboto Slab";
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  height: 92px;
  width: 530px;
  margin: 0;
  padding-left: 100px;
  margin-bottom: 30px;
}

.header__profile-keywords {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 100px;
  margin-bottom: 56px;
}

.header__profile-examples {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .header__profile-title {
    font-size: 14px;
    padding-left: 40px;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .header__profile-articles {
    font-size: 30px;
    line-height: 34px;
    height: 68px;
    padding-left: 40px;
    width: 336px;
    margin-bottom: 16px;
  }

  .header__profile-keywords {
    padding-left: 40px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .header__profile-title {
    padding-left: 16px;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .header__profile-articles {
    padding-left: 16px;
    font-size: 30px;
    width: 288px;
    margin-bottom: 50px;
  }

  .header__profile-keywords {
    padding-left: 16px;
    font-size: 18px;
    margin-bottom: 32px;
    margin-top: 0;
  }
}
