.header__page {
  background-image: url("../../images/Frame-1-11.jpg");

  height: 576px;
}

.header__page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 496px;
}

.header__page-text {
  font-family: "Roboto Slab";
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
}

.header__page-title {
  font-family: "Roboto Slab";
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
  width: 608px;
  margin: 40px 0 10px 0;
}

.header__page-subtitle {
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 608px;
}

@media screen and (max-width: 768px) {
  .header__page {
    height: 400px;
  }

  .header__page-container {
    height: 334px;
  }

  .header__page-text {
    display: flex;

    text-align: start;
  }

  .header__page-title {
    font-family: "Roboto Slab";
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    width: 385px;
    height: 80px;
  }

  .header__page-subtitle {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: 452px;
    height: 48px;
    margin: auto;
  }

  @media screen and (max-width: 320px) {
    .header__page {
      height: 536px;
    }

    .header__page-container {
      height: 480px;
      justify-content: start;
      padding-top: 35px;
    }
    .header__page-title {
      width: 285px;
      margin: 0;
    }

    .header__page-subtitle {
      width: 288px;
    }
  }
}
