@font-face {
  font-family: "Roboto";
  src: url("../../vendor/Fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../../vendor/Fonts/RobotoSlab-Regular.ttf");
}

.header {
  background-image: url("../../images/Frame-1-11.jpg");
  height: 576px;
}

.header__upper {
  border-bottom: 1px solid rgba(248, 248, 248, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.header__left {
  margin-left: 60px;
}

.header__right {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-right: 60px;
}

.header__link {
  text-decoration: none;
  color: #b6bcbf;
  cursor: pointer;
}

.active {
  color: white;
  border-bottom: 3px solid white;
}

.header__link:hover {
  border-bottom: 3px solid white;
}

.header__signin {
  border-radius: 20px;
  width: 176px;
  height: 30px;
  border: 1px;
  cursor: pointer;
  border: 1px solid rgba(248, 248, 248, 0.7);
  background-color: transparent;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.header__lower {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

.header__title {
  margin: 80px auto 0 auto;
  text-align: center;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  width: 608px;
  height: 128px;
}

.header__subtitle {
  margin: 35px auto 90px auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 608px;
  height: 24px;
  text-align: center;
}

.header__signedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header__logout {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px;
  width: 112px;
  height: 48px;
  gap: 5px;
}

.header__logout-button {
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  color: white;
}

.header__logout-name {
  color: white;
}
